
<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" >
    <ion-header>
      <ion-toolbar color="blossom">
        <ion-title class="title">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-item>
        <p>Seja bem vindo ao CanMovel, onde deseja ir?</p>
      </ion-item>
      
      <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;" >
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-button fill="outline" color="blossom" class="buttom">Anunciar Grátis </ion-button>
          </ion-item>
        </ion-list>
    </ion-content>

  </ion-menu>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="blossom">
      <ion-icon md="add" ios="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
