<div class="principal">
  <ion-row id="padding">
    <ion-col>
      <p>A sua casa está aqui no CanMovel!</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> 
     <div>
          <ion-select value="Comprar" okText="OK" cancelText="Cancelar"> 
          <ion-select-option value="Comprar">Comprar</ion-select-option>
          <ion-select-option value="Alugar">Alugar</ion-select-option>
          <ion-select-option value="ImoveisNovos">Imoveis novos</ion-select-option>
         </ion-select>
     </div>
    </ion-col>

    <ion-col>
      <div>
        <ion-select value="Apartamento">
          <ion-select-option value="Todos">Mostrar Todos</ion-select-option>
          <ion-select-option value="Apartamento">Apartamento</ion-select-option>
          <ion-select-option value="Casa">Casa</ion-select-option>
          <ion-select-option value="CasaCondominio">Casa de Condominio</ion-select-option>
          <ion-select-option value="Chacara">Chácara</ion-select-option>
          <ion-select-option value="Cobertura">Cobertura</ion-select-option>
          <ion-select-option value="Flat">Flat</ion-select-option>
          <ion-select-option value="Kitnet">Kitnet</ion-select-option>
        </ion-select>
      </div>
  </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-input placeholder="Digite uma rua, bairro ou cidade"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
       <ion-button expand="full" color="blossom" >Buscar</ion-button>
    </ion-col>
  </ion-row>
</div>
