.principal {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.041), rgb(34, 34, 34)),
    url('https://i.pinimg.com/550x/13/51/4a/13514a4d3356648a359ec3a95e801353.jpg');
    background-size: cover;
    color: white;
    padding: 20px;
}

#padding {
    padding: 20px 4px 2px 4px;
}

ion-col p {
    text-shadow: 1px 1px 1px black;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 15px;
    text-align: center;
}

ion-row {
    padding: 5px 3px;
}

ion-input, ion-select {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

ion-button {
    font-weight: 580;
    height: 50px;
    width: 100%;
}

ion-row ion-col div, ion-input{
    background-color: white;
    color: black;
}