.padding-div{
    padding: 16px 3px
}

h3 {
    padding: 4px 5px;
    text-align: center;
}

ion-card-content {
    text-align: justify;
}

ion-icon {
    padding-top: 10px;
    color: rgb(68, 68, 68);
    font-size: 100px;
}

hr {
     width: 25%;
     border-top: 4px solid white;
     border-radius: 4px;
     padding-bottom: 13px;
}
