<div class="padding-div">
<h3> O maior portal de imóveis do Brasil </h3>
<hr>
<ion-card *ngFor="let c of card;" class="ion-text-center">
     <ion-icon name="{{c.icon}}"></ion-icon>
    <!--<img src="{{c.img}}"/>-->
    <ion-card-header>
      <ion-card-title>{{c.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        {{c.text}}
    </ion-card-content>
  </ion-card>
</div>
