// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  //**blossom**//

  --ion-color-blossom: #FF385C;
	--ion-color-blossom-rgb: 255,56,92;
	--ion-color-blossom-contrast: #ffffff;
	--ion-color-blossom-contrast-rgb: 255,255,255;
	--ion-color-blossom-shade: #e03151;
	--ion-color-blossom-tint: #ff4c6c;

  //*blackone*//
  --ion-color-blackone: #222222;
	--ion-color-blackone-rgb: 34,34,34;
	--ion-color-blackone-contrast: #ffffff;
	--ion-color-blackone-contrast-rgb: 255,255,255;
	--ion-color-blackone-shade: #1e1e1e;
	--ion-color-blackone-tint: #383838;
}

.ion-color-blossom {
	--ion-color-base: var(--ion-color-blossom);
	--ion-color-base-rgb: var(--ion-color-blossom-rgb);
	--ion-color-contrast: var(--ion-color-blossom-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blossom-contrast-rgb);
	--ion-color-shade: var(--ion-color-blossom-shade);
	--ion-color-tint: var(--ion-color-blossom-tint);
}

.ion-color-blackone {
	--ion-color-base: var(--ion-color-blackone);
	--ion-color-base-rgb: var(--ion-color-blackone-rgb);
	--ion-color-contrast: var(--ion-color-blackone-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blackone-contrast-rgb);
	--ion-color-shade: var(--ion-color-blackone-shade);
	--ion-color-tint: var(--ion-color-blackone-tint);
}

.md body , .ios body{
  --ion-background-color: rgb(34,34,34);
  --ion-background-color-rgb: 18,18,18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: rgb(24,24,24);

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #3b3b3b;

  --ion-card-background: #252525;
  ion-alert {
    button {
      color: var(--ion-color-blossom) !important;
  }
  }
}

