<ion-header [translucent]="true">
  <ion-toolbar color="blossom">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
        <ion-title class="title">
         CanMovel
        </ion-title>
        <ion-buttons slot="end" class="but">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge color="blackone">5</ion-badge>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Conteudo da Página -->
<ion-content [fullscreen]="true">
  <app-searchdiv class="ion-padding-bottom"></app-searchdiv>
  <app-destaque></app-destaque>
  <app-imoveis-novos></app-imoveis-novos>
</ion-content>

