ion-icon{
  font-size: 30px;
}

ion-buttons {
  position: relative;
  width: fit-content; // ajusta à caixa estabelecida pela altura e largura usadas
}

ion-buttons > ion-badge {
  position: absolute;
  border-radius: 100%;
  top: 0;
  right: -5px;
}