.margin-div{
    margin: 6px 10px;
    text-align: center;
}

ion-slide {
    background-color: rgb(39, 39, 39);
    color: rgb(134, 134, 134);
    height: 500px;
    border-radius: 12px;
}

ion-slide img{
    width: 300px;
    height: 200px;
}

ion-chip {
    margin-bottom: 15px;
}

div ion-badge {
    padding: 5px;
    margin-left: 12px;
}

div p{
    padding: 0px;
    margin: 0px;
}

.text{
    font-size: 14px;
    color: rgb(90, 90, 90);
}

.price {
    font-size: 20px;
    font-weight: 500;
    color: rgb(202, 202, 202);
}

ul {
    padding: 0px;
    margin-top: 4px;
    list-style: none;
    display: flex;
}

li {
    margin-left: auto;
    margin-right: auto;
}

.category > p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: rgb(90, 90, 90);
}

.desc {
    padding-bottom: 12px;
}


div > p.card-text {
    font-size: 13px;
}