<div class="margin-div">
  <h3>Imoveis Recentes</h3>

  <ion-chip>
    <ion-icon name="close-circle"></ion-icon>
    <ion-label>Piscina</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-icon name="close-circle"></ion-icon>
    <ion-label>Apartamento</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-icon name="close-circle"></ion-icon>
    <ion-label>Casa</ion-label>
  </ion-chip>

  <ion-slides>
    <ion-slide *ngFor="let s of slide;">
      <div class="slide">
        <img src="{{s.img}}"/>
         <h3>{{s.title}}</h3>
            <div class="desc">
              <p class="text">Descrição do Imovel:</p>
              <p class="card-text">{{s.desc}}</p>
            </div>
              <div class="category">
               <p>Categorias:</p>
                <ul>
                  <li>
                  {{ s.category }} 
                  </li>
               </ul>
             </div>
        <div>
          <p class="text">Preço do aluguel</p>
          <p class="price">{{s.price}}</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</div>
